<h2>Admin</h2>
<form action="/createproduct" method="post">

<div class="input-field">
    <input type="text" name="Name" placeholder="optiums Name">
    <input type="number" name="Price" placeholder="optiums Price" >
    <input type="text" name="Image" placeholder="optiums Image" >
</div>
<button type="submit" style="background-color:darkseagreen;" class="btn">Добавить Прицел</button>


</form>




    

