.product{
    background-color: rgb(131, 189, 109);
    width: 400px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px; 
    
}
.gallery{
    display: inline-block;
    text-align: center;
    margin-top: 90px;
}
.ram{
    
    min-width: 2200px;
    
    position: relative;
   
    margin-left: 320px;
    margin-top: -600px;
    
}
.gallery{
    overflow: hidden; 
    width: 480px;
    font: 700 italic 16px/1.1 'Uni Sans',Arial,Helvetica,sans-serif;

}
.gallery.new-optiums{
    float: left; 
    margin-right: 20px;
    margin-bottom: 10px;
   
}
.gallery img{
    
    border: 2px solid #e9556e;
    padding: 15px;
    object-fit: contain;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    transition: 0.3s ease;
    
}
.gallery img:hover{
    transition: 0.3s ease;
    transform: scale(0.8);
}
.leftbar{
    width: 27%;
    margin-top: 10px;
    background-color: #F1F3F4;
}
.but{
    padding: 20px;
}
.buy{
    background: #e83232;
    font: 700 1.5em/1.1 'Uni Sans',Arial,Helvetica,sans-serif;
    color: #fff;
    padding: 12px 15px;
    transform: skewX(-8deg);
    cursor: pointer;
    border: none;
    height: 40px;
    font-size: .875rem;
}
.container{
    margin-left: 100px;
    max-width: 2200px;
}